<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Message</title>
  </head>
  <body>
    <h1>Page CRUD Data</h1>
    <button onclick="loadContent()">Load Content</button>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Message</th>
          <th>Review</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="table-body">
        <% messages.forEach(message=>{%>
        <tr>
          <td><%=message.data_id %></td>
          <td><%=message.name %></td>
          <td><%=message.email %></td>
          <td><%=message.message %></td>
          <td><%=message.review %></td>
          <td>
            <button onclick="idButtonClick('<%= message.data_id %>')">
              ID
            </button>
            <button onclick="editButtonClick('<%= message.data_id %>')">
              Edit
            </button>
            <button onclick="deleteButtonClick('<%= message.data_id %>')">
              Delete
            </button>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <script>
      function loadContent() {
        fetch("http://localhost:3000/admin/data")
          .then((data) => data.json())
          .then((result) => {
            console.log("result", result);
            document.getElementById("table-body").innerHTML = "";
            result.forEach((post) => {
              const row = document.createElement("tr");
              row.innerHTML = `
                        <td>${post.id}</td>
                        <td>${post.name}</td>
                        <td>${post.email}</td>
                        <td>${post.message}</td>
                        <td>${post.review}</td>
                        <td>
                            <button onclick="idButtonClick(${post.id})">ID</button>
                            <button onclick="editButtonClick(${post.id})">Edit</button>
                            <button onclick="deleteButtonClick(${post.id})">Delete</button>
                        </td>
                    `;
              document.getElementById("table-body").appendChild(row);
            });
          });
      }
      function idButtonClick(postId) {
        console.log(`ID Post ${postId}`);
      }
      function editButtonClick(postId) {
        console.log(`Edit Post ${postId}`);
      }
      function deleteButtonClick(postId) {
        console.log(`Delete Post ${postId}`);
      }
    </script>
  </body>
</html>
