<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Message</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <script>
      
    </script>
    <h2>Page Data</h2><br><br>
    <table class="table-data">
      <thead>
        <tr class="tr-data">
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Message</th>
          <th>Review</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="table-body">
        <% messages.forEach(message =>{%>
        <tr>
          <td><%=message.data_id %></td>
          <td><%=message.name %></td>
          <td><%=message.email %></td>
          <td><%=message.message %></td>
          <td><%=message.review %></td>
          <td>
            <!-- <button onclick="idButtonClick('<%= message.data_id %>')">
              ID
            </button> -->
            <button onclick="editButtonClick('<%= message.data_id %>')">
              Edit
            </button>
            <button onclick="deleteButtonClick('<%= message.data_id %>')">
              Delete
            </button>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <!-- Modal update data -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Edit Contact us</h2>
        </div>
        <div class="modal-body">
          <form id="edit-form" action="/api/admin/data/" method="post"  onsubmit="submitEditButtonClick(document.getElementById('data_id').value, event)">
            <!-- Form update data, langsung muncul data asli -->
            <label for="data_id">Id:</label>
            <input type="text" id="data_id" name="data_id" required readonly><br>

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>

            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea><br>

            <label for="review">Review:</label>
            <input type="text" id="review" name="review" required><br>

            <button type="submit" id="submit-button">Submit</button>
            <!-- <button id="submit-button"  onclick="submitEditButtonClick(document.getElementById('data_id').value)">Submit</button> -->
          </form>
        </div>
      </div>
    </div>

    <script src="/js/admin.js"></script>
    <style>
      td, th {border: 1px solid #dddddd; padding: 8px;}
      tr:nth-child(even) {background-color: #dddddd;}
    </style>
  </body>
</html>
